@media (max-width: 340px) {
  body {
    background-color: rgb(45, 153, 189);
  }
  #marinho{
     background-color: rgb(3, 190, 190);
    width: 100%;
    height: 40px;
  }
#risquinho{
    width: 36px;
    height: 40px;
    border-radius: 5px;
}
#pesquisa{
        width: 145px;
        height: 25px;
        border-radius: 5px;
        margin-top: 0px;
        position: absolute;
        left: 138px;
        background-color: rgb(191, 248, 255);
}
#ciano{
    background-color: aqua;
    width: 288px;
    height: 200px;
}
#montanha{
    width: 323px;
     height: 272px;
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXYoD9Yct0PFwub6iE4CbBh6-Y2TCQiT9CEe1h1lDuCI08UyFUGxWlDnE&s=10");
    background-size: 100% 300px; 
}

#letraMontanha  {

  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: bold;
text-align: center;
}
H2{
  font-size: 18px;
}
#botão{
  text-align: center;
}
.botao-verde{
  background-color: rgb(9, 162, 182);
  border-radius: 20px;
border:1px;
}
.botao-vermelho{
  background-color: #a5def0;
  border-radius: 20px;
  border:1px;
}
#2montanha{
  background-image: url("https://static.vecteezy.com/ti/vetor-gratis/t1/47439941-uma-azul-montanha-panorama-com-uma-sol-aumentar-sobre-isto-vetor.jpg");
width: 200px;
height: 200px;
border: solid 2px red;

}
#imagem2{
background-image: url("https://static.vecteezy.com/ti/vetor-gratis/t1/47439941-uma-azul-montanha-panorama-com-uma-sol-aumentar-sobre-isto-vetor.jpg");
 width: 200px;
height: 200px;

}







}



@media (min-width: 401px) and (max-width: 600px) {
  body {
    background-color: rgb(192, 32, 112);
  }
}
